.display {
  width: 100%;
  position: fixed;
  inset: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-carousal {
  width: 60%;
  height: 500px;
  background: red;
  position: relative;
}

.atc-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
